jsontoxml/src/main/mule/jsontoxml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="652c599f-b203-4c81-82ee-3ad00c3ef8ee" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<flow name="jsontoxmlFlow" doc:id="ce339413-f4f9-4544-87d8-33bb60c5099d" >
		<http:listener doc:name="Listener" doc:id="02812292-2fb9-4ee3-a682-8de9eb777af4" config-ref="HTTP_Listener_config" path="json2xml"/>
		<logger level="INFO" doc:name="Logger" doc:id="0eb6192e-978e-4caa-bf35-7a9675f6d37d" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ea0c270b-3e96-4b24-9a8c-98bb3e34af8e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	employee:payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b8ded9b0-e8c9-4f1d-9332-93a1d80e4bb2" message="#[payload]"/>
	</flow>
</mule>
