Filtering_a_message_july9/src/main/mule/tasks_july9.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d52ea1b3-09da-4d9d-87e8-d5e81408bd2d" >
		<http:listener-connection host="0.0.0.0" port="8034" />
	</http:listener-config>
	<flow name="filtering-a-message-Flow" doc:id="80d62248-f6de-44f8-ad2c-dd5526f03602" >
		<http:listener doc:name="Listener" doc:id="4700f5ad-2e94-4ec4-ac57-b77e35c2ce6e" config-ref="HTTP_Listener_config" path="filter"/>
		<validation:is-not-empty-collection doc:name="Validate if payload is not empty collection" doc:id="3a3e3d13-3308-4f23-96cb-a1623c1ede0d" message="Payload is empty collection! We are expecting 1 record at least!"/>
		<foreach doc:name="For Each" doc:id="f3664a33-77e2-47ce-92fd-184afdd7af0b" collection="payload">
			<validation:is-not-null doc:name="Validate if record contains identifier" doc:id="5e4cb103-f672-4958-bf07-eb94f089131a" value="#[payload.identifier]" message='#["Record: " ++ write(payload, "application/json") ++ " does not contain id field!"]'/>
			<validation:is-not-null doc:name="Validate if record contains email" doc:id="e8069c77-37a1-45e2-b8fc-1b9a2966f1bb" value="#[payload.email]" message='#["Record: " ++ write(payload, "application/json") ++ " does not contain email!"]'/>
			<validation:is-email doc:name="Validate email format" doc:id="66db952a-fd70-4586-b5ac-a77becf74971" email="#[payload.email]" message='#["Email in record: " ++ write(payload, "application/json") ++ " is not valid!"]'/>
			<validation:is-not-null doc:name="Validate if record contains connection info" doc:id="a041f4eb-84da-48e1-9bd5-cdba3feb4f43" value="#[payload.connectionInfo]" message='#["Record: " ++ write(payload, "application/json") ++ " does not contain conection info!"]'/>
			<validation:is-not-blacklisted-ip doc:name="Validate if IP address is not on blacklist" doc:id="8def409f-17f3-4a8e-9fce-bb241f2ae643" ipAddress="#[payload.connectionInfo.IPAddress]" message='#["IP address of record: " ++ write(payload, "application/json") ++ " is on blacklist!"]'>
				<validation:black-list ips='#[["40.125.118.175"]]' />
			</validation:is-not-blacklisted-ip>
		</foreach>
		<set-payload value='#[output text/plain --- "User records are valid!"]' doc:name="Prepare response" doc:id="dba4df47-0d8b-498f-9400-49a7fcbf9443" mimeType="text/plain"/>
	</flow>
</mule>
